<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article Images with Flexbox</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<section>
    <h1>Yesterday News</h1>
</section>
<div>
    <h2>Top Articles</h2>
</div>
<div class="container">


    <article class="article">
        <img src="/images/bake.jpg" alt="bake">
        <h2>Bake it</h2>
        <p>Want to learn baking. Read some articles about it.</p>
    </article>
    <article class="article">
        <img src="/images/coffee.jpg" alt="Coffee">
        <h2>Make it</h2>
        <p>Would you like to learn , how to make a coffee?</p>
    </article>
    <article class="article">
        <img src="/images/coriander.jpg" alt="coriander">
        <h2>Grow coriander</h2>
        <p>Its hard, but let's learn it together.</p>
    </article>
    <article class="article">
        <img src="/images/leaves.jpg" alt="leaves">
        <h2>Awesome leaves</h2>
        <p>which tree leaves are these?</p>
    </article>
    <article class="article">
        <img src="/images/nature.jpg" alt="nature">
        <h2>Nature</h2>
        <p>Let's swim in nature. Isn't it beautiful?</p>
    </article>
    <article class="article">
        <img src="/images/seeds.jpg" alt="seeds">
        <h2>Seeds</h2>
        <p>Let's plant them, for the better nature and future.</p>
    </article>
</div>
</body>
</html>
