<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Forms</title>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    >
</head>
<body>
<div class="box">
    <h1 class="title is-2" style="text-align: center"> Form </h1>
</div>
<div class="container">
    <div class="notification is-primary">



<form class="box" action="/submitform" method="POST">


    <div class="field">
        <label class="label">Username</label>
        <div class="control has-icons-left has-icons-right">
            <input class="input is-success" type="text" name="userName" placeholder="Text input" />

        </div>

    </div>

    <div class="field">
        <label class="label">Place of Birth</label>
        <div class="control has-icons-left has-icons-right">
            <input class="input is-danger" type="text" name="placeOfBirth" placeholder="Place of Birth input" />

        </div>

    </div>

    <div class="field">
        <label class="label">Year Of Birth</label>
        <div class="control has-icons-left has-icons-right">
            <input class="input is-danger" type="text" name="yearOfBirth" placeholder="Year of Birth input" />

        </div>

    </div>

    <div class="field">
        <label class="label">Programming Languages</label>
        <div class="control">
            <div class="select">
                <select name="programmingLanguages" id="programmingLanguages" multiple>
                    <option value="python">Python</option>
                    <option value="javascript">JavaScript</option>
                    <option value="java">Java</option>
                    <option value="csharp">C#</option>
                    <option value="cpp">C++</option>
                    <option value="ruby">Ruby</option>
                    <option value="php">PHP</option>
                    <option value="go">Go</option>
                </select>
            </div>
        </div>
    </div>
    <br><br>
    <br><br><br>

    <div class="field">
        <label class="label">Description</label>
        <div class="control">
            <textarea class="textarea" placeholder="Textarea" name="description"></textarea>
        </div>
    </div>




    <div class="field is-grouped">
        <div class="control">
            <button class="button is-link">Submit</button>
        </div>
        <div class="control">
            <button class="button is-link is-light">Cancel</button>
        </div>
    </div>
</form>
    </div>
</div>
</body>
</html>