<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Products</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <script>
        function confirmDelete() {
            return confirm("Do you really want to delete this product?");
        }
    </script>
</head>
<body>
<div class="notification is-info" th:if="${message}" th:text="${message}" style="display: block;"></div>
<div class="container mt-5">
    <div class="is-flex is-justify-content-space-between is-align-items-center">
        <h1 class="title is-marginless">Manage Products</h1>
        <div class="ml-2">
            <a href="addProduct" class="button is-primary">Add Product</a>
        </div>
    </div>

    <table class="table is-striped is-fullwidth mt-4">
        <thead>
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Category</th>
            <th>Price (Euros)</th>
            <th>Quantity in Stock</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.id()}"></td>
            <td th:text="${product.name()}">Lego Star Wars Set</td>
            <td th:text="${product.category()}">Building Toys</td>
            <td th:text="${product.price()}">$49.99</td>
            <td th:text="${product.quantityInStock()}">20</td>
            <td>
                <a th:href="'editProduct?id='+${product.id()}" class="button is-small is-info">Edit</a>
                <a th:href="'deleteProduct?id='+${product.id()}" onclick="return confirmDelete();" class="button is-small is-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
